.subt-1{
    display: none;
    color: var(--dark-color-font);
} 

.mobile-filters{
    background-color: var(--nav-bg);
    color: var(--light-color-font);
}

.hide-mobile{
    display: none!important;
}

.alert{
    background-color: var(--light-color-font);
    color: var(--dark-color-font);
}

.btn-filtro{
    background-image: url("../../assets/img/filter-icon.svg");
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
}

@media(min-width:992px){
    .mobile-filters{
        display: none!important;
    }

    .hide-mobile{
        display: flex!important;
    }

    .subt-1{
        display: block;
    }

}